<div class="container">
  <div [hidden]="submitted">
    <h1>Update Game Winner</h1>
    <form #updateGameWinnerForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="winner">Winner</label>
        <select #winner="ngModel" [(ngModel)]="model.winner"
                class="form-control"
                id="winner" name="winner"
                required>
          <option *ngFor="let team of teams" [ngValue]="team">{{team.name}}</option>
        </select>
        <div [hidden]="winner.valid || winner.pristine" class="alert alert-danger">
          Winner is required
        </div>
      </div>

      <button [disabled]="!updateGameWinnerForm.form.valid" class="btn btn-success" type="submit">Submit</button>
      <button (click)="resetForm(); updateGameWinnerForm.reset()" class="btn btn-default" type="button">Reset Form
      </button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Winner</div>
      <div class="col-xs-9">{{ model.winner!.name }}</div>
    </div>
    <br>
    <div [hidden]="confirmed">
      <button (click)="confirmSubmission()" class="btn btn-primary">Confirm</button>
      <button (click)="submitted=false" class="btn btn-primary">Edit</button>
    </div>
  </div>
</div>
