<div class="container">
  <div [hidden]="submitted">
    <h1>Recruit Veteran Player For {{team.name}}</h1>
    <form #recruitVeteranPlayerForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="player" class="mb-2">Player</label>
        <select #player="ngModel" [(ngModel)]="model.player"
                class="form-control"
                id="player" name="player"
                required>
          <option *ngFor="let player of players" [ngValue]="player">{{player.name}}</option>
        </select>
        <div [hidden]="player.valid || player.pristine" class="alert alert-danger">
          Player is required
        </div>
      </div>

      <button [disabled]="!recruitVeteranPlayerForm.form.valid" class="btn btn-success mt-2" type="submit">Hire</button>
      <button (click)="resetForm(); recruitVeteranPlayerForm.reset()" class="btn btn-danger ms-2 mt-2" type="button">Reset
      </button>
    </form>
  </div>
</div>
