<div class="container m-0">
  <div>
    <h1 class="fw-bold ms-2 mt-2 fs-2">New Team Form</h1>
    <form #createTeamForm="ngForm" (ngSubmit)="onSubmit()" class="ms-3">
      <div class="form-group">
        <label for="name">Team Name</label>
        <input #name="ngModel" [(ngModel)]="model.name" class="form-control"
               id="name"
               name="name" required
               type="text">
        <div [hidden]="name.valid || name.pristine || submitted"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <button [disabled]="!createTeamForm.form.valid" class="mt-2 btn btn-success" type="submit">Create</button>
      <button (click)="resetForm(); createTeamForm.reset()" class="mt-2 ms-2 btn btn-danger" type="button">Reset</button>
    </form>
  </div>
</div>
