<h2 class="ms-2 mt-2 fs-2">Dashboard</h2>

<mat-action-row>
  <button (click)="handleHireNewPlayerClick()" color="primary" mat-button class="btn btn-success buttons ms-3">Hire New Player</button>
  <button (click)="handleHireVeteranPlayerClick()" color="primary" mat-button class="btn btn-success buttons">Hire Veteran Player</button>
  <button (click)="handleFirePlayerClick()" color="primary" mat-button class="btn btn-danger buttons">Fire Player</button>
</mat-action-row>
<app-players
  (selectRowEvent)="onSelectPlayerRow($event)"
  [highlightSelected]=true
  [players]=players
  [refreshed]=refreshed
></app-players>
