<h2 class="fw-bold ms-2 mt-1 fs-2">Players</h2>
<table #table [dataSource]="players" mat-table class="ms-4">
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell> Name</th>
    <td *matCellDef="let player" mat-cell> {{player.name}} </td>
  </ng-container>
  <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
  <tr (click)="highlight(row)" *matRowDef="let row; columns: columnsToDisplay"
      [ngClass]="{'highlight': selectedRowIndex == row.id && highlightSelected}"
      mat-row></tr>
</table>

