<div class="container">
  <div [hidden]="submitted">
    <h1>Recruit New Player For {{team.name}}</h1>
    <form #recruitNewPlayerForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name" class="mb-2">Player Name</label>
        <input #name="ngModel" [(ngModel)]="model.name" class="form-control"
               id="name"
               name="name" required
               type="text">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <button [disabled]="!recruitNewPlayerForm.form.valid" class="mt-2 btn btn-success" type="submit">Submit</button>
      <button (click)="resetForm(); recruitNewPlayerForm.reset()" class="mt-2 ms-2 btn btn-danger" type="button">Reset Form
      </button>
    </form>
  </div>
</div>
