<div class="container">
  <div [hidden]="submitted">
    <h1>Update Game Score Form</h1>
    <form #updateGameScoreForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="homeTeamScore">{{model.homeTeam.name}}</label>
        <input #homeTeamScore="ngModel" [(ngModel)]="modelCopy.homeTeamScore" class="form-control"
               id="homeTeamScore"
               name="homeTeamScore"
               required type="number"
               value="{{modelCopy.homeTeamScore}}"
               min="0">
        <div [hidden]="homeTeamScore.valid || homeTeamScore.pristine"
             class="alert alert-danger">
          Number is required
        </div>
      </div>

      <div class="form-group">
        <label for="awayTeamScore">{{model.awayTeam.name}}</label>
        <input #awayTeamScore="ngModel" [(ngModel)]="modelCopy.awayTeamScore" class="form-control"
               id="awayTeamScore"
               name="awayTeamScore"
               required type="number"
               value="{{modelCopy.awayTeamScore}}"
               min="0">
        <div [hidden]="awayTeamScore.valid || awayTeamScore.pristine"
             class="alert alert-danger">
          Number is required
        </div>
      </div>

      <button [disabled]="!updateGameScoreForm.form.valid" class="mt-2 btn btn-success" type="submit">Submit</button>
      <button (click)="resetForm(); updateGameScoreForm.reset()" class="mt-2 ms-2 btn btn-danger" type="button">Reset Form
      </button>
    </form>
  </div>
</div>
