
.teams {
  list-style-type: none;
  width: 30rem;
}

.teams li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  height: fit-content;
  width: fit-content;
  border-radius: 4px;
  align-items: center;
  vertical-align: middle;
  margin-bottom: 1rem;
  white-space: nowrap;
  padding: 0.2rem;
}

.teams li:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

.teams li.selected {
  background-color: black;
  color: white;
}

.teams li.selected:hover {
  background-color: #505050;
  color: white;
}

.teams li.selected:active {
  background-color: black;
  color: white;
}

.teams .badge {
  display: inline-block;
  height:max-content;
  font-size: small;
  color: white;
  background-color: #405061;
  position: relative;
}

.teams .text {
    margin-top: 1.2rem;
    place-self: center;
    vertical-align: middle;
    height: fit-content;
    font-size: large;
    color: black;
    position: relative;
    padding-left: 0.3rem;
  }

input {
  padding: .5rem;
}
