<h2 class="fw-bold ms-4 mt-1 fs-2">Teams</h2>
<ul class="teams">
  <li *ngFor="let team of teams let i = index">
    <span class="badge">{{i + 1}}</span>
    <span class="text">{{team.name}}</span>
  </li>
</ul>
